<html>
    <head>
        <title>Lumina - PI bem legal</title>
        
        <link rel="stylesheet" href="{{css_path}}">
    </head>
    <body>
    
        <main class="main-card">
            
            <header>
                <div class="logo">
                    <img src="{{logo_path}}" alt="Logotipo Lumina">
                    LUMINA
                </div>
                <nav>
                    <a href="{{duvidas_path}}">Dúvidas</a>
                    <a href="{{sobre_path}}">Sobre</a>
                    <a href="{{funcionamento_path}}">Funcionamento</a>
                </nav>
                <a href="#" class="btn-connect">Conecte-se</a>
            </header>
    
            <div class="content">
                
                <section class="text-section">
                    <h1><b>Olá!</b></h1>
                    <p>
                        Bem-vindo ao seu espaço de aprendizado!<br>
                        Aqui, cada ideia é um passo, cada dúvida é uma oportunidade e cada conquista, por menor que pareça, te leva mais longe.<br><br>
                        Explore, descubra e evolua no seu ritmo.<br>
                        O conhecimento começa com a curiosidade!
                    </p>
                    <a href="{{cadastro_path}}" class="btn-register">Cadastre-se</a>
                </section>
    
                <section class="image-section">
                    <div class="circle-bg">
                        <img src="{{isaginerd_path}}" alt="Estudante estudando">
                    </div>
                </section>
    
            </div>
        </main>
    
    </body>
</html>