<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumina - Espaço de Aprendizado</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{css_path}}">
</head>
<body>

    <main class="main-card">
        
        <header>
            <a href="{{inicio_path}}" class="logo" style="text-decoration: none;">
                <img src= "{{logo_path}}" alt="Logotipo Lumina">
                LUMINA
            </a>
            <nav>
                <a href="{{duvidas_path}}">Dúvidas</a>
                <a href="{{sobre_path}}">Sobre</a>
                <a href="{{funcionamento_path}}">Funcionamento</a>
            </nav>
            <a href="{{conecte_path}}" class="btn-connect">Conecte-se</a>
        </header>

        <div class="content">
            
            <section class="text-section">
                <h1><b>Olá!</b></h1>
                <p>
                    Bem-vindo ao seu espaço de aprendizado!<br>
                    Aqui, cada ideia é um passo, cada dúvida é uma oportunidade e cada conquista, por menor que pareça, te leva mais longe.<br><br>
                    Explore, descubra e evolua no seu ritmo.<br>
                    O conhecimento começa com a curiosidade!
                </p>
                <a href="{{cadastro_path}}" class="btn-register">Cadastre-se</a>
            </section>

            <section class="image-section">
                <div class="circle-bg">
                    <img src="{{estudante_path}}" alt="Estudante estudando"> 
                </div>
            </section>

        </div>
    </main>

</body>
</html>